html, body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
html, body {
    line-height: 0;
    width: 100%;
    height: 100%;
}
h1, h2, .infoButton {
    font-weight: normal;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}
p, ul {font-family: 'Open Sans', sans-serif}
a {outline: 0; text-decoration: none}
a:active, a:focus {text-decoration: underline}
body {
    background: black;
    text-align: right;
    font-size: 100%;
}
body > span {
    display: inline-block;
    overflow: hidden;
    width: 33.3%;
    padding-top: 24.95%;
}
.containerSlide > img:first-child {
    position: absolute;
    top: 0;
    left: 0;
}
.loadingSlide {
    margin-left: -36.5px;
    margin-top: -20.5px;
}
#title {
    width: 33.3%;
    z-index: 99;
    position: absolute;
}
h1 {
    display: inline;
    line-height: normal;
    font-size: 2.2em;
    color: gray;
}
h1 img {
    height: 1.6em;
    width: auto;
    padding: .2em;
    vertical-align: middle;
}
.infoButton {
    float: right;
    margin: .32em;
    width: 2em;
    line-height: 2.25em;
    text-align: center;
    font-size: 1.44em;
    font-weight: bold;
    font-style: italic;
    background: #008ad2;
}
.infoButton, #info a {
    border: .1em solid #f0f0f0;
    border-radius: .4em;
}
.infoButton:hover, .infoButton:active, .infoButton:focus, #info a:hover, #info a:active, #info a:focus {border-color: #dc8422; text-decoration: none}
#banner {
    position: relative;
    background: url('slideshare.png') bottom left no-repeat #D57B42;
    background-size: contain;
}
#banner > img {
    width: 40%;
    height: auto;
    vertical-align: middle;
    padding: 2%;
}
#banner div {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    color: rgb(240, 240, 240);
    padding: 2%;
}
#banner div > img:first-child {
    width: auto;
    height: 4.5em;
}
#banner h2 {
    line-height: 1.5em;
    font-size: 2.3em;
}
#banner p {line-height: 1.5em}
#banner a {
    position: absolute;
    top: 0;
    left: 0;
}
#info {
    padding: 2%;
    color: #f0f0f0;
    line-height: 1.5em;
    font-weight: 500;
    background: url('watermark.png') bottom right no-repeat #0276C1;
    background-size: contain;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}
#info, #title {text-align: left}
#info li {margin: 1em}
#info > p:last-child {text-align: center}
#info a {
    display: inline-block;
    padding: .3em;
    font-size: 1.5em;
}
#info em {font-size: 1.05em}
#info strong, #info em, #info a, .infoButton {color: #F38C4B}
#footer {
    padding: 1% 2%;
    font-size: .8em;
    line-height: 1.5em;
    background: #f0f0f0;
}
#footer li {
    display: inline-block;
    width: 50%;
}
#footer li:first-child {text-align: left}
#footer li em {display: block}
#footer img {
    width: auto;
    height: 2.1em;
}
#footer a {
    display: inline-block;
    color: gray;
}
.mit {padding-left: .4em}
.hq {padding-right: .4em}
#footer a:hover {text-decoration: underline}
@media only screen and (max-width: 639px ) {
    body > span {padding-top: 75%}
    body > span, #title {width: 100%}
    p, ul {font-family: sans-serif}
    #banner {background: #D57B42}
    #banner > img {
        width: 96%;
        height: auto;
    }
    #info {
        padding-bottom: 4%;
        background-size: 50%;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 640px) and (max-width: 959px) {
	body > span {padding-top: 37.5%}
	body > span, #title {width: 50%}
	p, ul {font-family: sans-serif}
	#info {
	    background-size: 30%;
	    -moz-column-count: 2;
	    -webkit-column-count: 2;
	    column-count: 2;
	}
}
@media only screen and (min-width: 1100px) {
  body {font-size: 110%}
}
@media only screen and (min-width: 1200px) {
  body {font-size: 120%}
}
@media only screen and (min-width: 1300px) {
  body {font-size: 130%}
}
@media only screen and (min-width: 1400px) {
  body {font-size: 140%}
}
@media only screen and (min-width: 1500px) {
  body {font-size: 150%}
}
@media only screen and (min-width: 1600px) {
  body {font-size: 160%}
}
@media only screen and (min-width: 1700px) {
  body {font-size: 170%}
}
@media only screen and (min-width: 1800px) {
  body {font-size: 180%}
}
@media only screen and (min-width: 1900px) {
  body {font-size: 190%}
}
@media only screen and (min-width: 2000px) {
  body {font-size: 200%}
}
@media only print {
  body > span, .infoButton, h1 {display: none !important}
  #info {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
  #info a {display: none}
  #info:after {
      content:'Visit hqcasanova.github.io/pictoSlides';
      font-weight: bold;
  }
}
